cryptography~=41.0.3
requests~=2.31.0
pyyaml~=6.0.1
packaging~=23.1
colorama~=0.4.6
pyinotify~=0.9.6; platform_system=="Linux"
distro~=1.8.0
psutil~=5.9.5
sqlalchemy[mypy]~=2.0.19
sqlalchemy-utils~=0.41.1